th {
  font-size: 1.1rem;
  background-color: #ddf3fd !important;
}

.template-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr:hover .link {
  display: block;
}

.link {
  display: none;
}
